.form-valid {
  border: 2px solid green;
}

.form-invalid {
  border: 2px solid red;
}

.input-invalid {
  border: 2px solid red;
}

.input-valid {
  border: 2px solid green;
}

.error-message {
  color: red;
  font-size: 12px;
}